{{> head }}

{{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-6 card-body">
            <h1 class="card-title">Programando con handlebars</h1>
        </div>

        <div class="col-6">
            <img src="/img/handlebars.png" class="img-thumbnail" alt="Handlebars">
        </div>
    </div>
</div>

{{> footer }}